/**
 * @section Base Styles
 */

/* Edward Margallo 
Project stared on 9/3/2019 */

//colors
$color-white: #fff;
$color-light-grey: #ddd;
$color-medium-grey: #ccc;
$color-dark-grey: #666;
$color-charcoal-grey: #333;
$color-black: black;

//data-uris
$arrow1: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 477.175 477.175' style='enable-background:new 0 0 477.175 477.175;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225 c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A";

$arrow2: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 129 129'%3E%3Cg%3E%3Cpath d='m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z'/%3E%3C/g%3E%3C/svg%3E%0A";

//@extend-elements
//.gallery-prev, .gallery-next
%extend-pager-arrow {
	cursor: pointer;
	opacity: 0.5;
	display: block;
	bottom: 0;
	width: 15px;
	height: 15px;
	color: $color-dark-grey;
	position: absolute;
	background-size: cover;
}

body {
	padding: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: $color-white;
}

h1 {
	font-size: 1.1rem;
	font-weight: normal;
	letter-spacing: 0.05rem;
}

.disabled {
	cursor: none !important;
	opacity: 0.15 !important;
}

.gallery {
	display: flex;
	margin: 0 auto;
	position: relative;
	width: 300px;
	height: 330px;
	overflow: hidden;
}

.gallery-container {
	position: absolute;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 1500px;
	height: 300px;
}

.gallery-item {
	display: flex;
}

.gallery-controls {
	z-index: 1;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	text-align: center;
	display: inline;

	>.gallery-pager-item {
		cursor: pointer;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		border-radius: 100%;
		border: 1px solid $color-medium-grey;
		background: $color-white;

		&:hover {
			background: $color-light-grey;
		}

		&.active {
			border: 1px solid $color-dark-grey;
			background: $color-dark-grey;
		}
	}
}

.gallery-prev {
	@extend %extend-pager-arrow;
	left: 0;
	background-image: url($arrow1);

	&:hover {
		opacity: 1;
	}
}

.gallery-next {
	@extend %extend-pager-arrow;
	right: 0;
	background-image: url($arrow2);

	&:hover {
		opacity: 1;
	}
}

/* to-do don't rely on absolute positioning 
in css to slide  let's make it detect width 
automatically and apply inline css via js */

.gallery-container[data-index="0"] {
	left: 0;
	transition: .75s;
}

.gallery-container[data-index="1"] {
	left: -300px;
	transition: .75s;
}

.gallery-container[data-index="2"] {
	left: -600px;
	transition: .75s;
}

.gallery-container[data-index="3"] {
	left: -900px;
	transition: .75s;
}

.gallery-container[data-index="4"] {
	left: -1200px;
	transition: .75s;
}

@media only screen and(min-device-width: 768px) and(max-device-width: 1024px) and(orientation: portrait) and(-webkit-min-device-pixel-ratio: 1) {
	/* if time permits, some tablet/mobile syling */
}